body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-top: -20px; 
}

section header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

section header ul li {
  list-style: none;
  margin-left: 20px;
}

section header ul li a {
  color: #111;
  text-decoration: none;
  font-size: 13px;
}

 

.circle img{
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.img-bars{
    margin-right: 20px;
}
 
section .main {
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .main .searchbox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

section .main .searchbox .search {
  width: 100%;
  padding: 13px;
  padding-left: 45px;
  margin-right: 60px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

section .main .searchbox .icons {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

section .main .buttons {
  margin-top: 20px;
}

section .main .buttons button {
  margin: 0 5px;
  padding: 12px 20px;
  color: #555;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 1px solid transparent;
  outline: none;
  transition: all 0.9s;
}

section .main .buttons button:hover {
  border: 1px solid #ccc;
}

section .main .lang {
  margin-top: 20px;
}

.lang a {
  text-decoration: none;
  transition: all 1s;
}

.lang a:hover {
  text-decoration: underline;
}
section .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
}

section .footer .row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

section .footer .row ul {
  display: flex;
}

section .footer .row ul li {
  list-style: none;
}

section .footer .row ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #5f6368;
  margin-right: 25px;
}

#footer-text li {
  list-style: none;
}

#footer-text li a {
  text-decoration: none;
  color: #5f6368;
}

/* Media Quary */ 
 
@media (max-width: 768px) {
  section .main .searchbox .search {
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
  }

  section .main .searchbox .icons {
    width: 84%;
  }

  section .footer .row {
    display: block; 
  }
  #row{
       position: relative;
       left: 100px;
  } 
}
